body {
  background-color: #BCCC9A;
}

hr {
  bORDER-STYLE: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 2px;
  width: 100px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

img {
background-color:blue;
border-radius:100$
}
