body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514e;

}
.top-container{
  background-color:#e4f9f5;
  padding-top: 100PX;
  margin-bottom: 100px;
}
h1{
  margin:50px,0px,auto,auto;

font-family: 'Sacramento', cursive;
font-size:525%;
color: #66BFBF;

}
.home{
position: absolute;
  height: 50px;
width:100%;
text-align:right;
position: fixed;


}
.udemy{
  display: inline-block;
  margin-left:0px
  -webkit-border-radius: 8;
 -moz-border-radius: 8;
 border-radius: 8px;
 font-family: Arial;
 color: #ffffff;
 font-size: 12px;
 background: #94B49F;
 padding: 10px 20px 10px 20px;
 text-decoration: none;

}

.btn:hover {
 background: #3cb0fd;
 background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
 background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
 text-decoration: none;

}
.contact{
  padding-right: 700px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #94B49F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.hola{
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #94B49F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2rem;
  color: #66BFBF;
  font-weight:normal;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.top-container{

}

span{
text-decoration:underline;
}
.BOOTOM-CLOUD{
  position:absolute;
margin-RIGHT:200PX
}
.TOP-CLOUD{
  margin-LEFT:700PX;

}
.skill-row{
margin:100px,auto,100px,auto;
  width:70%;
  text-align:left;
 line-height:2;

 margin-top: 40px;

}
.middle-container{
  width: 50%;
  margin:auto;
}
.learning{
  width:55%;
  float:left;
}
.studying{
  width:45%;
  float:right;

}
.hello{
  width: 35%;
}
.contact-me{
padding-top: 60px;
}
.garg{
  overflow: hidden;
}
.parv{
  overflow: hidden;
  width: 200px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
hr{
border-style:none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 100px;
height: 10px;
}
.bottom-container{
padding-bottom: 20px;

width: 100%;
}
.page{
background-color: #66bfbf;
height: 100PX;
width:100%

  margin:0px, auto;

}
a{
  margin:auto
}
.copyright{
  color:white;
}
